/.idea/
/.lambda_env/
/shared-local-instance.db
/nohup.out
/pidfile
/dynamodb_local_latest/run_local_dynamodb.sh
/dynamodb_local_latest/shared-local-instance.db
/node_modules/
/.serverless/
/.dynamodb/
/run_build_test_phase.sh
/inspect_moto_s3.sh
/kibana-7.4.2-darwin-x86_64/
/elasticsearch-7.4.2/
